* {
    font-family: "Poppins", sans-serif;
  }
  .background {
    background:linear-gradient(to bottom,rgb(83, 141, 227),rgb(243, 244, 243));
    height: 100vh;
    display: flex;
  }
  h2 {
    color: #0f0c0c;
  
    text-align: center;
    margin-left: 7px;
    margin-top: 42px;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    text-shadow: none;
    font-weight: 600;
  }
  h3 {
    font-size: 40px;
    font-family: "Poppins";
    color: #464646;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 16px;
    margin-left: 339px;
    font-weight: 400;
    text-decoration: underline;
  }
  .card {
    height: 500px;
    width: 1000px;
    margin-top: 134px;
    margin-left: 275px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: none;
    border-radius: 15px;
  }
  // select {
  //   width: 360px;
  //   margin: 18px;
  //   margin-left: 47px;
  //   background-color: #09140a;
  //   border: none;
  //   border-radius: 15px;
  //   :hover{
  //     background-color: #4481;
  //   }
  // }
  .submit {
    width: 586px;
    margin-left: 164px;
    height: 45px;
    font-weight: bold;
    border-radius: 15px;
  }
  i{
      width: 10px;
      height: 10px;
  }
  .questions{
    text-align: center;
    margin-top: 76px;
       
  }
  .Qname{
    color: #0f0c0c;
      font-size: 40px;
      font-family: "Poppins", sans-serif;
      text-shadow: none;
      font-weight: 600;
  
  }
  .answers{
    text-align: center;
    padding-top: 80px;
    
  }
  // a{
  //   text-decoration: none;
  //   color: aliceblue;
  //   border: #09140a;
  // }
  a:link, a:visited {
    // background-color: white;
    // color: black;
    // border: 5px solid rgb(55, 89, 241);
    // padding: 10px 20px;
    // text-align: center;
    // text-decoration: none;
    // display: inline-block;
    background-color: rgb(90, 168, 245);
    text-decoration: none;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px
  }
  
  a:hover, a:active {
    // background-color: rgb(47, 69, 236);
    // color: white;
    background-color: rgb(43, 93, 243);
  }